{% extends 'core/base.html' %}


{% block title %}
    Reset Password Done
{% endblock title %}
    


{% block content %}
  
    <main class="auth layout">
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Reset Password Done</h3>
            </div>
          </div>
          <div class="layout__body">
            <h2 class="auth__tagline">Reset Password Done</h2>
                <h3>An email has been sent to you, please check it and follow the instructions to reset your password</h3>
          </div>
        </div>
      </div>
    </main>
{% endblock content %}
  