        <div class="activities">
            <div class="activities__header">
                <h2>Recent Activities</h2>
            </div>

          {% for answer in question_answers %}
            <div class="activities__box">
              <div class="activities__boxHeader roomListRoom__header">
                <a href="{% url 'profile' answer.student.username %}" class="roomListRoom__author">
                  <div class="avatar avatar--small">
                    <img src="{{ answer.student.avatar.url }}" />
                  </div>
                  <p>
                    @{{ answer.student }}
                    <span>{{ answer.created | timesince }} ago</span>
                  </p>
                </a>
                <div class="roomListRoom__actions">
                
                {% if request.user == answer.student %}
                  <a href="{% url 'delete_answer' answer.id %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                      <title>remove</title>
                      <path
                        d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                      ></path>
                    </svg>
                  </a>
                {% endif %}
                  
                </div>
              </div>
              <div class="activities__boxContent">
                <p>answered the question “<a href="room.html">{{ answer.question }}</a>”</p>
                <div class="activities__boxRoomContent">
                  {{ answer.body }}
                </div>
              </div>
            </div>
          {% endfor %}
            
          </div>
        </div>
      </div>
    </main>

