{% extends 'core/base.html' %}
    

{% block title %}
    Home
{% endblock title %}
    

    {% block content %}    
        <main class="layout layout--3">
            <div class="container">
                <!-- Topics Start -->
                {% include 'core/_courses.html' %}
                <!-- Topics End -->

                <!-- Room List Start -->
                {% include 'core/_questions.html' %}
                <!-- Room List End -->

                <!-- Activities Start -->
                {% include 'core/_activities.html' %}
                <!-- Activities End -->
            </div>
        </main>

{% endblock content %}
